<%= form_for(@slide_show) do |f| %>
  <% if @slide_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide_show.errors.count, "error") %> prohibited this slide_show from being saved:</h2>

      <ul>
      <% @slide_show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <br />
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
    <br />
    <%= f.label :color1 %><br />
    <%= f.text_field :color1 %><br />
    <br />
    <%= f.label :color2 %><br />
    <%= f.text_field :color2 %><br />
    <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
