<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @slide_show.name %>
  <br>
  <b>Slides:</b>
  <br>
  <% @slides.each do |slide| %>
    <tr>
      <td><%= slide.photo_url %></td>
      <td><%= slide.message %></td>
    </tr>
  <% end %>
  
</p>


<%= link_to 'Edit', edit_slide_show_path(@slide_show) %> |
<%= link_to 'Back', slide_shows_path %>
