<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @slide_show.name %>
  <br>
  <b>Description:</b>
  <%= @slide_show.description %>
  <br>
  <b>Slides (<%= @slides.length %>):</b>
  <br>
  <% @slides.each do |slide| %>
    <tr>
      <td><%= slide.photo_url %></td>
      <td><%= slide.message %></td>
    </tr>
  <% end %>
  
</p>
