<style type="text/css" media="all">
    .center { margin:0 auto; }
</style>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @slide_show.name %>
  <br>
  <b>Slides:</b>
  <br>
  <% @slides.each do |slide| %>
    <tr>
      <td><%= slide.photo_url %></td>
      <td><%= slide.message %></td>
    </tr>
  <% end %>
  
</p>

        <div class="center" id="kenburns-slideshow"></div>
        <div class="center" id="kenburns-description">
            <h1 id="status">Loading Images..</h1>
            <h1 id="slide-title"></h1>
            <h1 class="title">My Feynman</h1>
            <p>Feynman is my best friend, he goes to paradiso and wrestles</p>
        </div>
        <script type="text/javascript" src="../js/kenburns.js"></script>

        <script type="text/javascript">
            var titles = ["Epic Day at Paradiso",
            "With my friends",
            "First Flowers",
            "Magic Hour at Amherst Gym",
            "Coal Oil Point",
            "Wrestling"];

$(document).ready(function() {
        $('#kenburns-slideshow').Kenburns({
images: [
"https://sphotos-a-iad.xx.fbcdn.net/hphotos-prn2/968772_10151586406101026_890504840_n.jpg",
"https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/418689_10151061229281026_1274063087_n.jpg",
"https://sphotos-a-iad.xx.fbcdn.net/hphotos-frc1/197945_10150125054021026_472219_n.jpg",
"https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/60842_437750016025_689727_n.jpg",
"https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/36219_403662256025_4429914_n.jpg",
"https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn1/19156_255125721025_7977485_n.jpg"
],
scale:0.75,
duration:8000,
fadeSpeed:1200,
ease3d:'cubic-bezier(0.445, 0.050, 0.550, 0.950)',

onSlideComplete: function(){
$('#slide-title').html(titles[this.getSlideIndex()]);
},
onLoadingComplete: function(){
$('#status').html("Loading Complete");
}

});
});
</script>

<%= link_to 'Edit', edit_slide_show_path(@slide_show) %> |
<%= link_to 'Back', slide_shows_path %>
